<ion-view view-title="Marvelify">
        <ion-content>
        <div class="row header">
          <div class="col col-75">
            <button class="top-left title button icon-left ion-chevron-left button-clear button-assertive">{{displayName}}</button>
          </div>
          <div class="col">
            <img class="top-right title" src="img/message_page_icon.png">
          </div>
        </div>
          

          
          <div class="row messenger">  
              <div class="col col-80 list list-inset message">
                <label class="item item-input">
                  <input type="text" placeholder="Message" ng-model="user.message">
                </label>
            </div>
            
            <div class="col col-20 send-message">
              <img src="img/message_page_0013.png">
            </div>
          </div>
                <ion-list >
            <ion-item class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" ng-model="message" placeholder="Type in your message...">
                </label>
                <label class="item-input-wrapper">
                    <input type="text" ng-model="name" placeholder="Name">
                </label>
                <button ng-click="addMessage($event)" class="button button-small button-balanced">
                    Send
                </button>
            </ion-item>
            <ion-item ng-hide="messages" class="textCenter">
                <i class="icon ion-loading-c"></i> Loading messages
            </ion-item>
            <ion-item ng-if="messages.length == 0" class="textCenter">
                <h4>No messages in this room. Send message to start.</h4>
            </ion-item>
            <ion-item class="" ng-repeat="message in messages | orderBy:'createdAt':true" type="item-text-wrap">
                <h4>{{message.from}} :</h4>
                <span am-time-ago="message.createdAt" class="item-note">
                </span>
                <p>{{message.body}}</p>
                <ion-option-button class="button-assertive" ng-click="remove(message)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
<!-- <!--         <ion-list ng-hide="roomName">
            <ion-item class="textCenter">
                <h4>Please select a room to message first.</h4>
            </ion-item> -->

        </ion-content>
</ion-view>
