    <ion-view view-title="Marvelify">
        <ion-content>
          <img id="title" src="../img/login_page_0000_marvelify.png" alt="Marvelify">
          <div class="list list-inset">
            <label class="item item-input">
              <input type="email" placeholder="Username" ng-model="user.username">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="user.password">
            </label>
            <label class="item item-input" ng-show="showConfirmPassword">
              <input type="password" placeholder="Confirm Password" ng-model="user.confirmPassword">
            </label>
          </div>
        <button class="item ng-binding button button-assertive" ng-click="submit(user)">Login</button>
          <br>
          <a class="item ng-binding button button-outline icon-right ion-chevron-right button-assertive" ng-click="signUpMode()">Register</a>
<!--           <div ng-hide="authData" class="card" ng-click="login()">
          <button class="item">
  Log In with Facebook
  </button> -->
</div>
<!--           <div class="padding">
            <button class="button button-block button-positive" ng-click="signIn(user)">
              Sign-In
            </button>
            <p class="text-center">
              <a href="#/forgot-password">Forgot password</a>
            </p>
          </div> -->
        </ion-content>
      </ion-view>