<ion-view view-title="User Onboarding">
        <ion-content>
          <div class="list">
          <button class="button button-icon icon ion-camera" ng-click="upload()"></button>
            <label class="item item-input">
              <span class="input-label">Full Name</span>
              <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
              <span class="input-label">Age</span>
              <input type="number" ng-model="user.age">
            </label>
            <label class="item item-input">
              <span class="input-label">Gender</span>
              <select ng-model="user.gender">
                <option>Male</option>
                <option>Female</option>
              </select>
            </label>
            <button class="button" ng-click="submitForm(user)">Submit</button>
          </div>
        </ion-content>
      </ion-view>